<div class="edit-panel">
  <div class="btn-container">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary map-button">Map</button>
      <button type="button" class="btn btn-secondary marker-button">
        Marker
      </button>
      <button type="button" class="btn btn-secondary basemap-button">
        Basemap
      </button>
    </div>
  </div>
  <section class="toggle-form">
    <div class="formwrap px-4">
      <!-- map editor -->
      <form id="map-editor" class="inactive">
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input
            id="map-editor-title"
            type="text"
            class="form-control"
            placeholder="Enter an interesting title"
          />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea
            id="map-editor-desc"
            type="text"
            class="form-control"
            placeholder="A detailed description"
            rows="7"
          ></textarea>
        </div>
        <button id="save-map-button" type="button" class="btn btn-secondary">
          Save
        </button>
        <button id="delete-map-button" type="button" class="btn btn-secondary">
          Delete Map
        </button>
      </form>
      <!-- marker editor -->
      <form id="marker-editor" class="inactive">
        <div class="form-group">
          <label>Title</label>
          <input
            id="marker-editor-title"
            type="text"
            class="form-control"
            placeholder="Enter an interesting title"
          />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea
            id="marker-editor-desc"
            type="text"
            class="form-control"
            rows="7"
            placeholder="A detailed description"
          ></textarea>
        </div>

        <!-- Button trigger modal -->
        <button
          type="button"
          id="image-button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#imageModal"
        >
          Image
        </button>

        <button
          id="delete-marker-button"
          type="button"
          class="btn btn-secondary"
        >
          Delete Marker
        </button>
      </form>
      <!-- basemap menu -->
      <br />

      <div id="basemap-editor" class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action active"
        >
          Streets
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Dark
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Navigation
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Night
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Satellite Streets
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Light
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Watercolor
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Toner
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Pioneer
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Spinal
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Transport
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Voyager
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Dark Matter
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Google Satellite
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Google Roadmap
        </button>
      </div>
      <br />
    </div>
    <div class="toggle-bg"></div>
  </section>

  <!-- Image Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="imageModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Image Url</label>
            <input
              id="marker-editor-imgUrl"
              type="text"
              class="form-control"
              placeholder="Link to a cat GIF"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button id="save-image-button" type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
