<!-- - Footer --->
	<footer>
		<div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
							<div class="card-body text-light text-center">
							  <p class="d-inline lead">Tüm Hakları Saklıdır © 2018<br></p>
							</div>
						</div>
					</div>
      </div>
 </footer>
 <!--# Footer #
