  <nav class="navbar navbar-custom navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand text-white" href="/" >WIKIMAP
      <img src="/images/favicon.ico" class="d-inline-block align-top" alt="" id="brand">
    </a>
    <button
      class="navbar-toggler
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
      -top
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/explore">Explore</a>
        <a class="nav-item nav-link" href="/profile/Alice">My Maps</a>
        <a class="nav-item nav-link" href="/create">New Map</a>
      </div>
    </div>
  </nav>


