<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Profile - WikiMap</title>
  </head>
  <body>
    <main>
      <section>
        <div>
          <div class="col-md-3 border-right">
            <div
              class="d-flex flex-column align-items-center text-center p-3 py-5"
            >
              <img
                class="rounded-circle mt-5"
                width="150px"
                src="<%= user.avatar_url%>"
              /><span class="font-weight-bold"><%= user.user_name%></span>
            </div>
          </div>
        </div>
        <article>
          <div>
            <!-- <h3>Public Maps</h3> -->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Public Maps</th>
                </tr>
              </thead>
              <tbody>
                <% for(let map in maps) { %> <% if (maps[map].creator_id ===
                user.id) {%>
                <tr>
                  <td><a href="/create/:id"><%= maps[map].title %></a></td>
                </tr>
                <% } %> <% } %>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Favourite Maps</th>
                </tr>
              </thead>
              <tbody>
                <% for(let fav in favourites) { %>
                <tr>
                  <td>
                    <a href="/create/:id"><%= favourites[fav].title %></a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
