#mapid {
  position: absolute;
  height: 800px;
  width: 100%;
  z-index: 1;
}
#popup-form {
  background-color: aqua;
}

/* .edit-panel {
  height: 600px;
  background-color: aquamarine;
} */

#map-editor.inactive {
  display: none;
}
#marker-editor.inactive {
  display: none;
}

.btn-container {
  position: absolute;
  z-index: 100;
  right: 0;
}

/*  */
.btn {
  cursor: pointer;
}
.icon-close {
  right: 2rem;
  top: 1.8rem;
  transition: right 0.6s ease-in-out;
  cursor: pointer;
}
a,
label,
p {
  color: rgb(15, 14, 14);
}
label {
  font-weight: 600;
}

.toggle-form {
  right: -9999px;
  position: fixed;
  top: auto;
  height: 100%;
  z-index: 100;
  transition: right 0.6s ease-in-out;
}
.toggle-form.active {
  right: 0;
  top: 10.5%;
}
.toggle-form .formwrap img {
  width: 20px;
}

.form-control {
  display: block;
  width: 80%;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.25;
  //color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.formwrap {
  background-color: #eef1f4a1;
  top: 10.5%;
  max-width: 620px;
  height: 100%;
  float: right;
  box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
}
.formwrap form input,
.formwrap form input:focus {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin-right: 10px;
}

.mid-col {
  max-width: 100%;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
}
.form-control {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin-right: 10px;
}
select.form-control:not([size]):not([multiple]) {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
option {
  background-color: #fff;
  color: #1f2124;
}
@media (max-width: 575px) {
  .formwrap {
    width: 100%;
  }
}
