#mapid {
  position: absolute;
  height: 93%;
  width: 100%;
  z-index: 1;
}

/* #popup-form {
  background-color: aqua;
} */

/* .edit-panel {
  height: 600px;
  background-color: aquamarine;
} */
#map-editor {
  margin-top: 50%;
}
#map-editor.inactive {
  display: none;
}
#marker-editor {
  margin-top: 50%;
}
#marker-editor.inactive {
  display: none;
}
#basemap-editor {
  width: 203px;
  margin-top: 50%;
}
#basemap-editor.inactive {
  display: none;
}

.notification {
  position: absolute;
  z-index: 500;
  width: 50%;
  left: 25%;
  top: 50;
  padding: 8px 0;
  border-radius: 10px;
  border: #f8f9fac2;
  border-width: 0px 0px 0px 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #f8f9fac2;
  transition: top 0.25s, background-color 0.25s, color 0.25s;
  display: block;
}
.btn-container {
  position: absolute;
  z-index: 100;
  right: 0;
}

/* editor panel */
.btn {
  cursor: pointer;
}
.icon-close {
  right: 2rem;
  top: 1.8rem;
  transition: right 0.6s ease-in-out;
  cursor: pointer;
}
a,
label,
p {
  color: rgb(15, 14, 14);
}
label {
  font-weight: 600;
}

.toggle-form {
  right: -9999px;
  position: fixed;
  top: auto;
  height: 100%;
  z-index: 20;
  transition: right 0.6s ease-in-out;
}
.toggle-form.active {
  right: 0;
  top: 0;
}
.toggle-form .formwrap img {
  width: 20px;
}

.form-control {
  display: block;
  width: 80%;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.formwrap {
  background-color: #f8f9faf2;
  top: 10.5%;
  max-width: 620px;
  height: 100%;
  float: right;
  box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
}
.formwrap form input,
.formwrap form input:focus {
  background-color: transparent;
  border-color: #fff;
  color: black;
  margin-right: 10px;
}

option {
  background-color: rgba(77, 77, 192, 0.082);
  color: #1f2124;
}
@media (max-width: 575px) {
  .formwrap {
    width: 100%;
  }
}

/* modal */

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%;
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}

/* popup */

.custom-popup .leaflet-popup-content-wrapper {
  background: #eef0f1;
  color: rgb(2, 1, 54);
  font-size: 16px;
  line-height: 20px;
}
.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5);
}
.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}
.custom-popup .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
