.featured-maps {
  margin-top: 130px;
  margin-bottom: 200px;
}

.btn-group {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.7em;
}

.btn {
  align-self: flex-end;
}

.viewbtn {
  width: 200%;
  border-radius: 100px 100px 100px 100px;
}

img {
  height: 150px;
  width: 100%;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;
  cursor: pointer;
  min-height: 300px;
  max-width: 300px;
  margin-bottom: 0.5em;
}
.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}

.card-text,
.card-title {
  padding-right: 0.7em;
  padding-left: 0.7em;
  padding-top: 0.7em;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  height: 80px;
  font-size: 12px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}



.glow-on-hover {
  width: 200%;
  height: 42px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(164, 155, 155);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(191, 191, 191);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0;
  }
}
